---
import LinkedIn from "../icons/LinkedIn.astro";
---

<span
  class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-purple-900 dark:text-purple-300 hover:bg-blue-500 transition-all duration-500 inline-flex items-center group"
>
  Disponible para trabajar
  <div
    class="w-0 overflow-hidden group-hover:w-5 group-hover:ml-2 transition-all duration-500"
  >
    <LinkedIn class="size-5" />
  </div>
</span>
