<div id="containerInfo" class="max">
  <a
    href="https://www.linkedin.com/in/quinones-juan/"
    target="_blank"
    rel="noopener"
  >
    <img
      alt="juan-photo"
      class="rounded-full w-20 h-20 my-5 flex justify-self-center border-2 border-dotted"
      src="https://media.licdn.com/dms/image/v2/D4D35AQFyPHz130jVNg/profile-framedphoto-shrink_400_400/profile-framedphoto-shrink_400_400/0/1657296245327?e=1742590800&v=beta&t=hHuJLBXswHznbArLXGUTZi42CnP7mGm7q9WkPiE1N4w"
    />
  </a>
  <div class="flex felx-col md:felx-row"></div>
</div>
