<header
  class="max-w-screen mx-auto px-4 flex justify-between items-center border-b-4"
>
  <img
    src="/aight.ico"
    alt="portfolio"
    class="w-auto h-[50px] rounded-full px-2 py-4"
  />

  <h1 class="text-3x1 font-semi bold bg-fuchsia-100 rounded-l-lg px-2">
    Juan Esteban Quiñones Nievas
  </h1>
</header>
